<div class="main-content" style="width: 100%">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Sign up</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row justify-content-md-center">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="form.username" name="username" matInput placeholder="Username">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="form.email" name="email" matInput placeholder="E-mail">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="form.password" name="password" matInput placeholder="Password"
                                               type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="form.repeatedPassword" name="repeatedPassword" matInput
                                               placeholder="Repeat password" type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                        (click)="onSubmit()">Sign up
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
